{% extends 'base.html' %}
{% block tab_title %}Take Our Survey{% endblock %}
<!-- {% block staticroute %}./{% endblock %} -->
{% block header %}Would you be so kind as to take a survey?{% endblock %}
{% block content %}
<div class="container">
  <table class="table table-dark table-striped rounded">
    <thead>
      <th>Name</th>
      <th>Instructions</th>
      <th>select</th>
    </thead>
    <tbody>
      <form action="/question/0" method="POST">
        {% for survey in surveys %}
        {% for complete_survey in session['completed_surveys'] %}
        {% if complete_survey.count(survey) == 0 %}
        <tr>
          <td>{{surveys[survey].title}}</td>
          <td>{{surveys[survey].instructions}}</td>
          <td><button class="btn, btn-outline-primary rounded" name="key" value="{{survey}}">take this survey</button></td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </form>
    </tbody>
  </table>
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="card bg-dark text-light">
      <div class="card-body">
        <div class="card-title">
          <form action="/reset">
            <button class="btn btn-block btn-danger text-warning">reset all Flask session data</button>
          </form>
        </div>
        <p class="m-2 card-text">this button is for development purposes
          <br>it will clear all of the flask session data
          <br>it is especially useful if you've taken both surveys and want to keep run-testing the app</p>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
</div>
</div>
{% endblock %}